html,
body {
    padding: 0;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}


* {
    box-sizing: border-box;
}

.main-container {
    background: rgba(0, 0, 0, 1);
}

/* Header component */

.header-menu {
    color: white;
    list-style: none;
}

.header-menu li:hover span {
    border-bottom: 1px solid white;
    cursor: pointer;
}

.header__inner-mobile {
    display: none;
}

@media (max-width: 600px) {
    .header__inner-mobile {
        display: block;
    }

    .header__inner-mobile div {
        text-decoration: none;
    }

    .header__inner {
        display: none;
    }
}

/* Header component  end*/

/* Search page */
.input__wrapper hr {
     background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

.input__wrapper input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 1px;
    width: 800px;
    font-size: 40px;
}

.input__wrapper input::placeholder {
    color: white;
    opacity: 1;
    text-align:center;
    font-size: 60px;
    line-height: 45px;
}

.input__wrapper input:focus ~ label,
.input__wrapper input:valid ~ label {
    display: none;
}
.search-type__wrapper {
    overflow: auto;
}

.search-type {
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.9;
}

/* width */
::-webkit-scrollbar {
    opacity: 0;
}

/* Track */
::-webkit-scrollbar-track {
    opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    opacity: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    opacity: 0;
}

@media (max-width: 900px) {
    .input__wrapper input {
        width: 200px;
    }
}
/* Search page end*/
