html,
body {
    padding: 0;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}


* {
    box-sizing: border-box;
}


/* Header component */

.main-container {
    background-color: #000000;
}

.header-menu {
    color: white;
    list-style: none;
}

.header-menu li:hover span {
    border-bottom: 1px solid white;
    cursor: pointer;
}

.header__inner-mobile {
    display: none;
}

@media (max-width: 600px) {
    .header__inner-mobile {
        display: block;
    }

    .header__inner-mobile div {
        text-decoration: none;
    }

    .header__inner {
        display: none;
    }
}

/* Header component  end*/
